/* Global Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* App Bar */
.app-bar {
  text-align: center;
  background-color: #42566a;
  padding: 1rem;
  color: #fff;
}

/* Groceries List */
.groceries-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  padding: 0;
  list-style-type: none;
}

/* Inventory Container */
.inventory-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 175px;
}

/* Text Elements */
.name,
.quantity {
  font-size: 14px;
  color: #333;
}

/* Button Styles */
.remove {
  background-color: #ff5f5f;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove:hover {
  background-color: red;
}

/* Quantity Container */
.quantity-container {
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Quantity Form */
.quantity-form {
  display: flex;
  gap: 0.5rem;
}

.item-input,
.item-add,
.quantity-input {
  padding: 1rem;
  border: none;
  border-radius: 4px;
}

/* Grid Span Adjustments */
.item-input {
  grid-column: span 3;
}

.item-add {
  background-color: #008ecc;
  color: white;
  cursor: pointer;
}

.item-add:hover {
  background-color: #007bb5;
}

.quantity-input {
  grid-column: span 3;
}

/* Box Container */
.box {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stack List */
.stack {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

li {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  /* padding: 1rem; */
  border-radius: 8px;
  color: white;
}

li:last-child {
  border-bottom: none;
}
